/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} */

/* End reset */

/* Headings */
.h1 {
	font-size: 80px;
	font-family: 'Bebas Neue';
}

h2 {
	font-size: 64px;
	font-family: 'Bebas Neue';
}

h3 {
	font-size: 40px;
	font-family: 'Bebas Neue';
}

h4 {
	font-size: 32px;
	font-family: 'Bebas Neue';
}

h5 {
	font-size: 20px;
	font-family: 'Bebas Neue';
}


h6 {
	font-size: 12px;
	font-family: 'Bebas Neue';
}
/* Headings end*/

p {
	font-family: 'Montserrat';
}

body {
    margin: 0;
}

/* Hero, nav */

.hero-section {
    background-image: url('/img/herotext1.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 10px 20px;
    margin-top: 45px;
}

.logo img {
    height: 100px;
    width: 185px;
    margin: 25px 12px; 
}

.nav-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    margin: 0 20px;
}

.nav-links a {
    font-family: 'Bebas Neue';
    font-size: 40px;
    color: #FFD700;
    text-decoration: none;
}

.nav-links a:hover {
    color: #FFA500;
}

.nav-links .current {
    color: white;
}

.slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 604px; 
    text-align: center; 
}

.slogan p {
    font-family: Montserrat, sans-serif; 
    font-size: 42px;
    color: white;
}


/* Team */

.caption {
    text-align: center; 
    font-size: 80px; 
    font-family:'Bebas Neue';
    color: #FFF;
    margin-top: 45px; 
}

.team-section {
    background-color: #1D1D1D;
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caption {
    text-align: center;
    color: #FFF;
    margin-bottom: 50px;
}

.row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    text-align: center; 
}


.team-member {
    text-align: center;
    margin: 0; 
}

.team-member img {
    width: 400px;
    height: 400px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.bigger img {
    width: 500px; 
    height: 500px; 
}


.player-name {
    width: 237px; 
}

.team-member h3, .team-member h4 {
    margin: 0 auto; 

    color: #FFF;
    display: block; 
}

/* Games */
.games-section {
    background-color: #1D1D1D;
    padding: 20px;
    text-align: center;
}

.caption2 {
    text-align: center;
    color: #FFA500;
    font-size: 80px;
	font-family: 'Bebas Neue'; 
    margin-top: 50px;
}

.games-container {
    display: flex;
    justify-content: center;
}

.game {
    margin: 0 5px; 
}

.game img {
    margin-top: 50px;
    margin-bottom: 20px;
    width: 300px;
    height: 389x;
}

.game-name {
    color: #FFF;
    margin-top: 10px; 
    text-align: center; 
}

/* results */
.results {
    background-color: #1D1D1D;
    padding: 20px;
}

.title {
    text-align: center;
    color: #FFF;
    font-size: 80px;
    margin-top: 45px;
    margin-bottom: 45px;
    font-size: 80px;
	font-family: 'Bebas Neue';
}

table {
    width: 75%;
    border-collapse: collapse;
    margin: 0 auto;
}

th, td {
    border: 1px solid #FFF; 
    padding: 10px;
    text-align: center;
}

/*width of the first and third columns */
th:first-child,
td:first-child,
th:nth-child(3),
td:nth-child(3) {
    width: 20%; 
}

/* width of the second and fourth columns */
th:nth-child(2),
td:nth-child(2),
th:nth-child(4),
td:nth-child(4) {
    width: 10%; 
}

.results h4, p {
    margin: 10px;
    color: #FFF;
}

/* Merch */
.merch-promo {
    position: relative;
    padding: 20px; 
    background-color: #1D1D1D;
    color: white;
    height: 100vh; 
}

.promo-text {
    position: absolute;
    top: 12.5%; /* 1/8 from the top */
    left: 12.5%; /* 1/8 from the left */
    text-align: center; 
    font-size: 96px; 
    font-family:'Bebas Neue';
}

.promo-content {
    position: absolute;
    top: 12.5%; /* 1/8 from the top */
    left: 12.5%; /* 1/8 from the left */
    right: 8%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
}


.shop-button {
    background-color: #FFA500;
    color: #1D1D1D;
    font-size: 24px;
    padding: 15px 30px;
    border: none;
    margin-right: 100px; 
    cursor: pointer;
    text-align: center; 
    font-size: 64px; 
    font-family:'Bebas Neue';
    margin-top: 380px;
}

.shop-button:hover {
    background-color: #FF8000;
}

.promo-image {
    height: 500px; 
}

/* footer */
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1D1D1D;
    padding: 20px 10%;
    color: white;
}

.footer-logo img {
    height: 76px;
    margin-left: 12.5%; 
    margin-top: 40px;
}

.footer-links {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.footer-links p {
    margin-top: 40px; 
    margin-left: 20px;
    margin-right: 20px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-size: 12px; 
}

.footer-links a:hover {
    color: #FFA500; 
}